==
{% put menu %}
<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/#section-home">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/#section-portfolio">Portfolio</a></li>
					<li class="nav-item"><a class="nav-link" href="/#section-resume">Resume</a></li>
					<li class="nav-item"><a class="nav-link" href="/#section-about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/#section-contact">Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
				</ul>
</div>    
{% endput %}