==
<form data-request="{{ __SELF__ }}::onFormSubmit" class="site-form">

	{{ form_token() }}
	
	<h3 class="mb-5">{{this.theme.form_header}}</h3>
	<div class="form-group">
		<input type="text" name="name" class="form-control px-3 py-4" placeholder="Your Name">
	</div>
	<div class="form-group">
		<input type="email"  name="email" class="form-control px-3 py-4" placeholder="Your Email">
	</div>
	<div class="form-group">
		<input type="text" name="phone" class="form-control px-3 py-4" placeholder="Your Phone">
	</div>
	<div class="form-group mb-5">
		<textarea name="message" class="form-control px-3 py-4"cols="30" rows="10" placeholder="Write a Message"></textarea>
	</div>
	<div id="{{ __SELF__ }}_forms_flash"></div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">
	</div>
</form>