==
<!DOCTYPE html>
<html lang="en">
<head>		
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ this.page.meta_title }}</title>
 	<link rel="shortcut icon" href="{{ this.theme.favicon_image | media }}" type="image/x-icon">	
	<meta name="description" content="{{ this.page.meta_description }}">
	<link rel="stylesheet" href="{{ 'assets/css/animate.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/flexslider.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/fonts/icomoon/style.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/bootstrap.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">
	{% styles %}
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">


	<nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light" id="pb-navbar">

		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		{% placeholder menu %}
		</div>
	</nav>
	{% page %}
	<footer class="site-footer">
		<div class="container">

			<div class="row mb-5">
				<p class="col-12 text-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true" ></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
			
			<div class="row mb-5">
				<div class="col-md-12 text-center">
					<p>
						{% if this.theme.facebook %}
						<a href="{{ this.theme.facebook }}" class="social-item"><span class="icon-facebook2"></span></a>
						{% endif %}
						{% if this.theme.twitter %}
						<a href="{{ this.theme.twitter }}" class="social-item"><span class="icon-twitter"></span></a>
						{% endif %}
						{% if this.theme.instagram %}
						<a href="{{ this.theme.instagram }}" class="social-item"><span class="icon-instagram2"></span></a>
						{% endif %}
						{% if this.theme.linkedin %}
						<a href="{{ this.theme.linkedin }}" class="social-item"><span class="icon-linkedin2"></span></a>
						{% endif %}
					</p>
				</div>
			</div>
			
		</div>
	</footer>
	<script src="{{ 'assets/js/vendor/jquery.min.js'|theme }}?v=1"></script>
	<script src="{{ 'assets/js/vendor/jquery-migrate-3.0.1.min.js'|theme }}"></script>
	<script src="{{ 'assets/js/vendor/popper.min.js'|theme }}"></script>
	<script src="{{ 'assets/js/vendor/bootstrap.min.js'|theme }}"></script>
	<script src="{{ 'assets/js/vendor/jquery.easing.1.3.js'|theme }}"></script>
	<script src="{{ 'assets/js/vendor/jquery.stellar.min.js'|theme }}"></script>
	<script src="{{ 'assets/js/vendor/jquery.waypoints.min.js'|theme }}"></script>
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
	<script src="{{ 'assets/js/custom.js'|theme }}?7"></script>		
	{% scripts %}	
	{% framework extras %}
</body>
</html>