title = "Blog"
url = "/blog/:page?"
layout = "default"
meta_title = "Blog"
meta_description = "Description"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"
==
{% partial 'blog-menu' %}
<section class="site-section" id="section-blog">
	<div class="container">
		<div class="row">
			<div class="py-5 section-heading text-center col-md-12">

				<h2>{{this.theme.blog_header | raw}}</h2>
			</div>
		</div>
		<div class="row  d-flex justify-content-center">
			{% for post in posts %}
			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="blog-entry">
					<a href="{{ post.url }}"><img src="{{ post.featured_images[0].path }}" alt="{{ post.featured_images[0].description }}" class="img-fluid"></a>
					<div class="blog-entry-text">
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p class="mb-4">{{ post.summary | raw }}</p>
						<div class="meta">
							<a href="#"><span class="icon-calendar"></span> {{ post.published_at | date('M d, Y') }}</a>
							<!-- <a href="#"><span class="icon-bubble"></span> 5 Comments</a> -->
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>		
	</div>

	<div class="container d-flex justify-content-center">
		{% if posts.lastPage > 1 %}
		<div class="pagination">
			{% if posts.currentPage > 1 %}
			<a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; </a>
			{% endif %}

			{% for page in 1..posts.lastPage %}

			<a class="{{ posts.currentPage == page ? 'active' : null }}" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>

			{% endfor %}

			{% if posts.lastPage > posts.currentPage %}
			<a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}"> &rarr;</a>
			{% endif %}
		</div>
		{% endif %}	
	</div>




</section>
	<!-- .section -->