title = "Index"
url = "/"
layout = "default"
meta_title = "Rezume"
meta_description = "Description"
is_hidden = 0

[genericForm]
rules[name] = "required"
rules[email] = "email|required"
rules[phone] = "required"
rules[message] = "required"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"
==
{% partial 'main-menu' %}
<section class="site-hero" style="background-image: url({% if this.theme.header_image %}{{ this.theme.header_image | media }}{% else %}{{ 'assets/images/image_1.jpg' | theme}}{% endif %});" id="section-home" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row intro-text align-items-center justify-content-center">
			<div class="col-md-10 text-center pt-5">


				<h1 class="site-heading site-animate">{{this.theme.header_text_1}}<strong class="d-block">{{this.theme.header_text_2}}</strong></h1>
				<strong class="d-block text-white text-uppercase letter-spacing">{{this.theme.header_text_3}}</strong>

			</div>
		</div>
	</div>
</section> <!-- section -->


<section class="site-section" id="section-portfolio">
	<div class="container">
		<div class="row">
			<div class="section-heading text-center col-md-12">

				<h2>{{this.theme.portfolio_header | raw}}</h2>
			</div>
		</div>
		<div class="filters">
			<ul>
				<li class="active" data-filter="*">All</li>
				{% if this.theme.portfolio_filters %}
				{% for category in this.theme.portfolio_filters %} 	
				<li data-filter=".{{ category.class }}">{{ category.category }}</li>				 					 	 	
				{% endfor %}
				{% else %}
				<li data-filter=".packaging">Packaging</li>
				<li data-filter=".mockup">Mockup</li>
				<li data-filter=".typography">Typography</li>
				<li data-filter=".photography">Photography</li>
			</ul>
			{% endif %}				
		</div>

		<div class="filters-content">
			<div class="row grid">					
				{% if this.theme.portfolio_filters %}					
				{% for category in this.theme.portfolio_filters %} 	
				{% for item in category.items %} 	
				<div class="single-portfolio col-sm-4 all {{ category.class }}">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="{{ item.image | media }}" alt="">
						</div>
						<a href="images/p1.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
							</div>
						</a>                                  
					</div>
					<div class="p-inner">
						<h4>{{ item.caption }}</h4>
						<div class="cat">{{ category.category }}</div>
					</div>                                         
				</div>
				{% endfor %}
				{% endfor %}
				{% else %}
				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="{{ 'assets/images/p1.jpg' | theme }}" alt="">
						</div>
						<a href="images/p1.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="{{ 'assets/images/preview.png' | theme }}" alt=""></div>
							</div>
						</a>                                  
					</div>
					<div class="p-inner">
						<h4>Square Box Mockup</h4>
						<div class="cat">Mockup</div>
					</div>                                         
				</div>


				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="{{ 'assets/images/p2.jpg' | theme }}" alt="">
						</div>
						<a href="images/p2.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="{{ 'assets/images/preview.png' | theme }}" alt=""></div>
							</div>
						</a>                                  
					</div>
					<div class="p-inner">
						<h4>Product Box Package Mockup</h4>
						<div class="cat">Mockup</div>
					</div>                                         
				</div>                            
				<div class="single-portfolio col-sm-4 all packaging">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="{{ 'assets/images/p3.jpg' | theme }}" alt="">
						</div>
						<a href="images/p3.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="{{ 'assets/images/preview.png' | theme }}" alt=""></div>
							</div>
						</a> 

					</div>
					<div class="p-inner">
						<h4>Creative Package Design</h4>
						<div class="cat">Packaging</div>
					</div>
				</div>
				<div class="single-portfolio col-sm-4 all packaging">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="{{ 'assets/images/p4.jpg' | theme }}" alt="">
						</div>
						<a href="images/p4.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="{{ 'assets/images/preview.png' | theme }}" alt=""></div>
							</div>
						</a>                                
					</div> 
					<div class="p-inner">
						<h4>Packaging Brand</h4>
						<div class="cat">Packaging</div>
					</div>
				</div>
				<div class="single-portfolio col-sm-4 all typography">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="{{ 'assets/images/p5.jpg' | theme }}" alt="">
						</div>
						<a href="images/p5.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="{{ 'assets/images/preview.png' | theme }}" alt=""></div>
							</div>
						</a>                                
					</div>
					<div class="p-inner">
						<h4>Isometric 3D Extrusion</h4>
						<div class="cat">Typography</div>
					</div>
				</div>
				<div class="single-portfolio col-sm-4 all photography">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="{{ 'assets/images/p6.jpg' | theme }}" alt="">
						</div>
						<a href="images/p6.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="{{ 'assets/images/preview.png' | theme }}" alt=""></div>
							</div>
						</a>                                
					</div>
					<div class="p-inner">
						<h4>White Space Photography</h4>
						<div class="cat">photography</div>
					</div>
				</div>
				{% endif %}					
			</div>
		</div>
	</div>
</section>
<!-- .section -->


<section class="site-section " id="section-resume">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5">
				<div class="section-heading text-center">
					<h2>{{this.theme.resume_header | raw}}</h2>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="mb-5">Education</h2>
				{% if this.theme.education %}					
				{% for item in this.theme.education %} 	
				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> {{ item.date }}</span>
					<h3>{{ item.position }}</h3>
					<p>{{ item.description }}</p>
					<span class="school">{{ item.location }}</span>
				</div>	
				{% endfor %}
				{% else %}					
				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
					<h3>Masteral in Information Technology</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">New York University</span>
				</div>

				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
					<h3>Masteral in Information Technology</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">New York University</span>
				</div>

				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
					<h3>Masteral in Information Technology</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">New York University</span>
				</div>

				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
					<h3>Masteral in Information Technology</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">New York University</span>
				</div>
				{% endif %}					

			</div>
			<div class="col-md-6">
				<h2 class="mb-5">Experience</h2>

				{% if this.theme.experience %}					
				{% for item in this.theme.experience %} 	
				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> {{ item.date }}</span>
					<h3>{{ item.position }}</h3>
					<p>{{ item.description }}</p>
					<span class="school">{{ item.location }}</span>
				</div>	
				{% endfor %}
				{% else %}					



				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
					<h3>Lead Product Designer</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">Github</span>
				</div>

				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
					<h3>Lead Product Designer</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">Facebook</span>
				</div>

				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
					<h3>Lead Product Designer</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">Twitter</span>
				</div>

				<div class="resume-item mb-4">
					<span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
					<h3>Lead Product Designer</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					<span class="school">Shopify</span>
				</div>
				{% endif %}					
			</div>
		</div>
	</div>
</section> <!-- .section -->

<section class="site-section" id="section-about">
	<div class="container">
		<div class="row mb-5 align-items-center">
			<div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
				<img src="{% if this.theme.about_photo %}{{ this.theme.about_photo | media }}{% else %}{{ 'assets/images/image_1.jpg' | theme }}{% endif %}" alt="Image placeholder" class="img-fluid">
			</div>
			<div class="col-lg-5 pl-lg-5">
				<div class="section-heading">
					<h2>{{this.theme.about_header | raw}}</h2>
				</div>
				{{this.theme.about_description | raw}}
				<p>
					<a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
					<a href="{{ this.theme.cv_link | media }}" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>
				</p>
			</div>
		</div>


	</div>
</section>

<section class="site-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-12">
				<div class="section-heading text-center">
					<h2>{{this.theme.testimonial_header | raw}}</h2>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			{% if this.theme.testimonial_cards %}					
			{% for item in this.theme.testimonial_cards %} 	
			<div class="col-md-6">

				<div class="block-47 d-flex mb-5">
					<div class="block-47-image">
						<img src="{{ item.photo | media }}" alt="Image placeholder" class="img-fluid">
					</div>
					<blockquote class="block-47-quote">
						{{ item.text | raw }}
						<cite class="block-47-quote-author">{{ item.name | raw }}<a href="{{ item.link}}"> {{ item.link_text }}</a></cite>
					</blockquote>
				</div>

			</div>
			{% endfor %}
			{% else %}					
			<div class="col-md-6">

				<div class="block-47 d-flex mb-5">
					<div class="block-47-image">
						<img src="{{ 'assets/images/person_1.jpg' | theme }}" alt="Image placeholder" class="img-fluid">
					</div>
					<blockquote class="block-47-quote">
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						<cite class="block-47-quote-author">&mdash; Ethan McCown, CEO <a href="#">XYZ Inc.</a></cite>
					</blockquote>
				</div>

			</div>
			<div class="col-md-6">

				<div class="block-47 d-flex mb-5">
					<div class="block-47-image">
						<img src="{{ 'assets/images/person_2.jpg' | theme }}" alt="Image placeholder" class="img-fluid">
					</div>
					<blockquote class="block-47-quote">
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						<cite class="block-47-quote-author">&mdash; Craig Gowen, CEO <a href="#">XYZ Inc.</a></cite>
					</blockquote>
				</div>

			</div>

			<div class="col-md-6">

				<div class="block-47 d-flex mb-5">
					<div class="block-47-image">
						<img src="{{ 'assets/images/person_3.jpg' | theme }}" alt="Image placeholder" class="img-fluid">
					</div>
					<blockquote class="block-47-quote">
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						<cite class="block-47-quote-author">&mdash; Ethan McCown, CEO <a href="#">XYZ Inc.</a></cite>
					</blockquote>
				</div>

			</div>
			<div class="col-md-6">

				<div class="block-47 d-flex mb-5">
					<div class="block-47-image">
						<img src="{{ 'assets/images/person_4.jpg' | theme }}" alt="Image placeholder" class="img-fluid">
					</div>
					<blockquote class="block-47-quote">
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						<cite class="block-47-quote-author">&mdash; Craig Gowen, CEO <a href="#">XYZ Inc.</a></cite>
					</blockquote>
				</div>

			</div>
			{% endif %}					
		</div>
	</div>
</section>


<section class="site-section pb-0"  id="section-services">
	<div class="container">

		<div class="row mb-4">
			<div class="col-md-12">
				<div class="section-heading text-center">
					<h2>{{this.theme.services_header | raw}}</h2>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">

			{% if this.theme.services_cards %}					
			{% for item in this.theme.services_cards %} 	
			<div class="col-md-6 col-lg-4 text-center mb-5">
				<div class="site-service-item site-animate" data-animate-effect="fadeIn">
					<span class="icon">
						<span class="{{ item.icon }}"></span>
					</span>
					<h3 class="mb-4">{{ item.header }}</h3>
					{{ item.text | raw }}
					<p><a href="{{ item.link }}" class="site-link">{{ item.link_text }} <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>

			{% endfor %}
			{% else %}	
			<div class="col-md-6 col-lg-4 text-center mb-5">
				<div class="site-service-item site-animate" data-animate-effect="fadeIn">
					<span class="icon">
						<span class="icon-browser2"></span>
					</span>
					<h3 class="mb-4">Web Design</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 text-center mb-5">
				<div class="site-service-item site-animate" data-animate-effect="fadeIn">
					<span class="icon">
						<span class="icon-presentation"></span>
					</span>
					<h3 class="mb-4">Search Engine Optimization</h3>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 text-center mb-5">
				<div class="site-service-item site-animate" data-animate-effect="fadeIn">
					<span class="icon">
						<span class="icon-video2"></span>
					</span>
					<h3 class="mb-4">Video Editing</h3>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					<p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>
			{% endif %}									

		</div>
	</div>
</section>


<section class="site-section" id="section-blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5">
				<div class="section-heading text-center">
					<h2>{{this.theme.blog_header | raw}}</h2>
				</div>
			</div>
		</div>

		{% if posts %}				
		<div class="row  d-flex justify-content-center">
			{% for post in posts %}
			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="blog-entry">
					<a href="{{ post.url }}"><img src="{{ post.featured_images[0].path }}" alt="{{ post.featured_images[0].description }}" class="img-fluid"></a>
					<div class="blog-entry-text">
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p class="mb-4">{{ post.summary | raw }}</p>
						<div class="meta">
							<a href="#"><span class="icon-calendar"></span> {{ post.published_at | date('M d, Y') }}</a>
							<!-- <a href="#"><span class="icon-bubble"></span> 5 Comments</a> -->
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>			
		{% else %}
		<div class="row  d-flex justify-content-center">
			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="blog-entry">
					<a href="#"><img src="{{'assets/images/post_1.jpg'|theme}}" alt="Image placeholder" class="img-fluid"></a>
					<div class="blog-entry-text">
						<h3><a href="#">Creative Product Designer From Facebook</a></h3>
						<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>

						<div class="meta">
							<a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
							<a href="#"><span class="icon-bubble"></span> 5 Comments</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="blog-entry">
					<a href="#"><img src="{{'assets/images/post_1.jpg'|theme}}" alt="Image placeholder" class="img-fluid"></a>
					<div class="blog-entry-text">
						<h3><a href="#">Creative Product Designer From Facebook</a></h3>
						<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>

						<div class="meta">
							<a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
							<a href="#"><span class="icon-bubble"></span> 5 Comments</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="blog-entry">
					<a href="#"><img src="{{'assets/images/post_1.jpg'|theme}}" alt="Image placeholder" class="img-fluid"></a>
					<div class="blog-entry-text">
						<h3><a href="#">Creative Product Designer From Facebook</a></h3>
						<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>

						<div class="meta">
							<a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
							<a href="#"><span class="icon-bubble"></span> 5 Comments</a>
						</div>
					</div>
				</div>
			</div>
		</div>	

		{% endif %}
	</div>
</section>

<section class="site-section" id="section-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5">
				<div class="section-heading text-center">
					<h2>{{this.theme.get_in_touch_header | raw }}</strong></h2>
				</div>
			</div>

			<div class="col-md-7 mb-5 mb-md-0">			
				{% component 'genericForm' %}					
			</div>
			<div class="col-md-5 pl-md-5">
				<h3 class="mb-5">{{this.theme.contact_header}}</h3>
				<ul class="site-contact-details">
					<li>
						<span class="text-uppercase">Email</span>
						{{this.theme.contact_email}}
					</li>
					<li>
						<span class="text-uppercase">Phone</span>
						{{this.theme.contact_phone}}
					</li>

					<li>
						<span class="text-uppercase">Address</span>
						{{this.theme.contact_adress|raw}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>