title = "Post"
url = "/post/:slug?"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog"
==
<?php
function onEnd () {
	$post = $this->components['blogPost'];
	$post = $post->post;

	if( $post ) {
		$post = $post->title;
		$this->page->meta_title = $post;
	}
}
?>
==
{% partial 'blog-menu' %}
<section class="site-section" id="section-post">
	<div class="container">
		<div class="row">
			<div class="py-5 section-heading text-center col-md-12">

				<h2>{{post.title}}</h2>
			</div>
		</div>		
		<div class="row  d-flex justify-content-center">			
			<div class="col-md-8">
				<img class="mb-5" src="{{ post.featured_images[0].path }}" width="100%" alt="I should say what.">
				{{ post.content_html | raw }}				
				<div class="meta">
					<a href="#"><span class="icon-calendar"></span> {{ post.published_at | date('M d, Y') }}</a>					
				</div>
			</div>
		</div>	
	</div>
</section>
<!-- .section -->